.App {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-shadow: inset 0px 5px 20px rgba(226, 193, 91, 0.1);
  border: 1px solid #ffc433;
  padding: 10px;
  margin: 5% 15%;

  border-radius: 5px;
}
@media (max-width: 600px) {
  .App {
    margin: 3%;
    text-align: center;
  }
}
